
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 16px;
}

.header__image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.header__information{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header__information h1 {
    font-family: 'neue machina', sans-serif;
    align-self: center;
} 

.header__information p{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: .5rem;
    font-size: 1.125rem;
}

.header__information p::before{
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: .5rem;
}

.header__information .information__job::before{
    background-image: url(../img/icons/person.svg);
}

.header__information .information__location::before{
    background-image: url(../img/icons/location.svg);
}

.header__information .information__phone::before{
    background-image: url(../img/icons/phone.svg);
}

.header__information .information__email::before{
    background-image: url(../img/icons/email.svg);
}


.header__socials{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-self: flex-start;
    gap: 16px;
    margin-left: 60px;
}

.header__socials a{
    width: 40px;
    height: 40px;
    background-size: cover;
    background-repeat: no-repeat;
}
.socials__github{
    background-image: url(../img/icons/socials/GithubPng.png);
    width: 100%;
}

.socials__linkedin{
    background-image: url(../img/icons/socials/Likedin.png);
    width: 100%;
}


@media screen and (min-width: 768px){
    .header{
        flex-direction: row;
    }

    .header__information h1 {
        align-self: flex-start;
    }

    .header__information {
        margin-left: 5%;
    }

    .header__socials{
        flex-direction: column;
        margin-left: 0;
    }
}

@media screen and (min-width: 1024px){

   .header__image{
    width: 300px;
    height: 300px;
    }

    .header__information h1 {
        font-size: 2.5rem;
    } 


}